@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold");
@import url("https://fonts.googleapis.com/css?family=B612:regular,bold");

/* INDEX */

body, html{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Roboto';
    color: white;
    background-color: rgb(12, 12, 12);
}

.content {
    position: relative;
}

.navigator-bar{
    z-index: 10000;
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgb(0, 0, 0), rgba(135, 135, 135, 0));
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.left{
    display: flex;
    width: 400px;
    height: 100%;
    float: left;
    align-items: center;
    justify-content: center;
}

.subleft, .subright {
    display: flex;
    width: 100%;
    height: 100%;
    float: left;
    align-items: center;
    justify-content: center;
}

.left img{
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.left-sub{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.pText {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    color: white;
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    z-index:2;
}

.pImage {

    position: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;

    opacity: 0.7;

    margin:0;
    padding: 0;

    background-attachment: fixed;
    background-image: url('../assets/PFP/Logo.svg');
    z-index: -1;
}

a {
    transition: 0.5s;
}

a:visited, a:link {
    color: rgba(150, 150, 150, 0.84);
    text-decoration: none;
    transition: 0.5s;
}

a:hover, a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
}

.right{
    display: flex;
    width: 800px;
    height: 100%;
    float: right;
    align-items: center;
    justify-content: center;
}

.right a {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.right a:hover,
.right a:active {
    font-size: 36px;
}

.button {
    user-select: none;
    font-size: 25%;
    font-family: 'Roboto';
    font-weight:normal;
    border-style: solid;
    padding: 10px 20px;
}

.sublink {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 50px 0px;
}

@media(max-width:640px){
    .pImage{
        background-attachment: scroll;
    }
}

@media(max-width:1210px){
    .navigator-bar {
        font-size: 20px;
    }
    .left, .right{
        width: 100%;
        height: 50%;
    }
    .subleft, .subright{
        width: 50%;
    }

    .left img {
        width: 48px;
        height: 48px;
    }
    .right a {
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }

    .right a:hover,
    .right a:active {
        font-size: 20px;
    }

    .pText {
        font-size: 50px;
    }
}

/* OTHERS */

.para {
    width: initial;
    margin: 150px 50px 0px;
    padding: 80px 50px 50px;
    font-family: 'B612';
    font-size: 24px;
    box-shadow: 20px 20px black;

    background-color: rgba(41, 41, 41, 0.465);
}

.topgg {
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer {
    position: sticky;
    bottom: 0;
    opacity: 0.5;
    z-index: 1000000;
}